In [1]:
import pandas as pd
import numpy as np

# Crear un DataFrame más grande con más valores faltantes
np.random.seed(64)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [25, np.nan, 30, np.nan, 40, 35, np.nan, 29, 50, np.nan],
    'Salary': [50000, 60000, np.nan, 80000, np.nan, 55000, 70000, np.nan, np.nan, 90000],
    'Gender': ['F', 'M', np.nan, 'M', 'F', np.nan, 'F', np.nan, 'M', 'F'],
    'City': ['New York', np.nan, 'San Francisco', 'Los Angeles', np.nan, 'Houston', np.nan, 'Seattle', 'Miami', 'Boston'],
    'Department': ['HR', 'IT', np.nan, 'Finance', 'Marketing', 'IT', 'HR', np.nan, 'Finance', np.nan]
}

df = pd.DataFrame(data)

# Mostrar el DataFrame original
print("Gabriel Guzmán - seed(64)\n")

# Mostrar el DataFrame original
print("DataFrame original:\n", df)

# Aplicar interpolación lineal en las columnas numéricas (Age y Salary)
df['Age'] = df['Age'].interpolate(method='linear')
df['Salary'] = df['Salary'].interpolate(method='linear')

# Mostrar el DataFrame después de la interpolación
print("\nDataFrame después de la interpolación en 'Age' y 'Salary':\n", df)

Gabriel Guzmán - seed(64)

DataFrame original:
       Name   Age   Salary Gender           City Department
0    Alice  25.0  50000.0      F       New York         HR
1      Bob   NaN  60000.0      M            NaN         IT
2  Charlie  30.0      NaN    NaN  San Francisco        NaN
3    David   NaN  80000.0      M    Los Angeles    Finance
4      Eva  40.0      NaN      F            NaN  Marketing
5    Frank  35.0  55000.0    NaN        Houston         IT
6    Grace   NaN  70000.0      F            NaN         HR
7   Hannah  29.0      NaN    NaN        Seattle        NaN
8      Ian  50.0      NaN      M          Miami    Finance
9     Jack   NaN  90000.0      F         Boston        NaN

DataFrame después de la interpolación en 'Age' y 'Salary':
       Name   Age        Salary Gender           City Department
0    Alice  25.0  50000.000000      F       New York         HR
1      Bob  27.5  60000.000000      M            NaN         IT
2  Charlie  30.0  70000.000000    NaN  San Francisco        NaN
3    David  35.0  80000.000000      M    Los Angeles    Finance
4      Eva  40.0  67500.000000      F            NaN  Marketing
5    Frank  35.0  55000.000000    NaN        Houston         IT
6    Grace  32.0  70000.000000      F            NaN         HR
7   Hannah  29.0  76666.666667    NaN        Seattle        NaN
8      Ian  50.0  83333.333333      M          Miami    Finance
9     Jack  50.0  90000.000000      F         Boston        NaN