In [8]:
import pymysql
import pandas as pd
import numpy as np
import scipy.stats as stats

# Configuración de la conexión
endpoint = "mat-trn-src.co4vks4ks8wo.eu-west-1.rds.amazonaws.com"
port = 3306
database = "training"
username = "srcuser"
password = "matillion"

# Conectar a la base de datos y cargar los datos en un DataFrame
try:
    # Crear la conexión a la base de datos
    connection = pymysql.connect(
        host=endpoint,
        user=username,
        password=password,
        database=database,
        port=port
    )
    
    # Crear un cursor para ejecutar la consulta
    with connection.cursor() as cursor:
        sql_query = """
        SELECT `iata`, `airport`, `city`, `state`, `country`, `lat`, `long`, `num_carriers`, `is_active`
        FROM training_rds_airports;
        """
        cursor.execute(sql_query)
        
        # Obtener los resultados
        results = cursor.fetchall()
        
        # Crear un DataFrame a partir de los resultados
        columns = ['iata', 'airport', 'city', 'state', 'country', 'lat', 'long', 'num_carriers', 'is_active']
        df = pd.DataFrame(results, columns=columns)
        
        # Paso 1: Imprimir el DataFrame original
        print("DataFrame original:")
        print(df)
        
        # Paso 2: Transformar la columna 'is_active' de binario a booleano
        df['is_active'] = df['is_active'].apply(lambda x: x == b'\x01')
        print("\nDataFrame después de la transformación de 'is_active':")
        print(df)
        
        # Análisis de cardinalidad para las variables categóricas
        categorical_columns = ['iata', 'airport', 'city', 'state', 'country']
        print("\nCardinalidad de las variables categóricas en el DataFrame original:")
        for column in categorical_columns:
            unique_values = df[column].nunique()
            print(f"{column}: {unique_values} categorías únicas")

        # Verificar normalidad de la columna 'num_carriers'
        print("\nAnálisis de normalidad para la columna 'num_carriers':")

        # Prueba de Shapiro-Wilk
        shapiro_stat, shapiro_p_value = stats.shapiro(df['num_carriers'])
        print(f"Prueba de Shapiro-Wilk: Estadístico={shapiro_stat}, p-valor={shapiro_p_value}")
        
        # Prueba de Kolmogorov-Smirnov
        ks_stat, ks_p_value = stats.kstest(df['num_carriers'], 'norm', args=(df['num_carriers'].mean(), df['num_carriers'].std()))
        print(f"Prueba de Kolmogorov-Smirnov: Estadístico={ks_stat}, p-valor={ks_p_value}")

        # Interpretación de resultados
        alpha = 0.05  # Nivel de significancia
        if shapiro_p_value > alpha and ks_p_value > alpha:
            print("La columna 'num_carriers' sigue una distribución normal (no se rechaza la hipótesis de normalidad).")
        else:
            print("La columna 'num_carriers' no sigue una distribución normal (se rechaza la hipótesis de normalidad).")

        # Paso 3: Aplicar One-Hot Encoding a las variables categóricas
        df_one_hot = pd.get_dummies(df, columns=categorical_columns)
        print("\nDataFrame después de aplicar One-Hot Encoding:")
        print(df_one_hot)
        print(f"\nNúmero de columnas después de One-Hot Encoding: {df_one_hot.shape[1]}")
        
        # Paso 4: Aplicar Frequency Encoding a las mismas variables categóricas
        df_freq = df.copy()  # Crear una copia para no sobrescribir el original
        for column in categorical_columns:
            freq_encoding = df_freq[column].value_counts() / len(df_freq)
            df_freq[column + '_freq'] = df_freq[column].map(freq_encoding)

        # Eliminar las columnas categóricas originales después de Frequency Encoding
        df_freq = df_freq.drop(columns=categorical_columns)
        print("\nDataFrame después de aplicar Frequency Encoding:")
        print(df_freq)
        print(f"\nNúmero de columnas después de Frequency Encoding: {df_freq.shape[1]}")

        # Paso 5: Aplicar Target Encoding a las variables categóricas
        # Agregar una columna de target simulada para el ejemplo de Target Encoding
        np.random.seed(0)
        df['target_value'] = np.random.randint(0, 100, size=len(df))
        print("\nDataFrame con columna de target simulada:")
        print(df)
        
        df_target = df.copy()  # Crear una copia para aplicar Target Encoding
        for column in categorical_columns:
            target_mean = df_target.groupby(column)['target_value'].mean()
            df_target[column + '_target'] = df_target[column].map(target_mean)

        # Eliminar las columnas categóricas originales después de Target Encoding
        df_target = df_target.drop(columns=categorical_columns)
        print("\nDataFrame después de aplicar Target Encoding:")
        print(df_target)
        print(f"\nNúmero de columnas después de Target Encoding: {df_target.shape[1]}")

except pymysql.MySQLError as e:
    print(f"Error al conectar o ejecutar la consulta: {e}")
finally:
    # Cerrar la conexión
    if connection:
        connection.close()

DataFrame original:
     iata                    airport          city state country          lat  \
0     00R       Livingston Municipal    Livingston    TX     USA  30.68586111
1     01G               Perry-Warsaw         Perry    NY     USA  42.74134667
2     01M          Tishomingo County       Belmont    MS     USA  34.49166667
3     02C                    Capitol    Brookfield    WI     USA  43.08751000
4     03D           Memphis Memorial       Memphis    MO     USA  40.44725889
...   ...                        ...           ...   ...     ...          ...
3367  Z55                Lake Louise   Lake Louise    AK     USA  62.29368944
3368  Z84                      Clear  Clear A.F.B.    AK     USA  64.30120361
3369  Z95                    Cibecue       Cibecue    AZ     USA  34.00333333
3370  ZER  Schuylkill Cty/Joe Zerbey    Pottsville    PA     USA  40.70644889
3371  ZUN                 Black Rock          Zuni    NM     USA  35.08322694

               long  num_carriers is_active
0      -95.01792778            96   b'\x01'
1      -78.05208056            67   b'\x01'
2      -88.20111111            48   b'\x01'
3      -88.17786917            39   b'\x01'
4      -92.22696056            51   b'\x01'
...             ...           ...       ...
3367  -146.57942190            74   b'\x01'
3368  -149.12014360             5   b'\x01'
3369  -110.44416670             3   b'\x01'
3370   -76.37314667            98   b'\x01'
3371  -108.79177690            83   b'\x01'

[3372 rows x 9 columns]

DataFrame después de la transformación de 'is_active':
     iata                    airport          city state country          lat  \
0     00R       Livingston Municipal    Livingston    TX     USA  30.68586111
1     01G               Perry-Warsaw         Perry    NY     USA  42.74134667
2     01M          Tishomingo County       Belmont    MS     USA  34.49166667
3     02C                    Capitol    Brookfield    WI     USA  43.08751000
4     03D           Memphis Memorial       Memphis    MO     USA  40.44725889
...   ...                        ...           ...   ...     ...          ...
3367  Z55                Lake Louise   Lake Louise    AK     USA  62.29368944
3368  Z84                      Clear  Clear A.F.B.    AK     USA  64.30120361
3369  Z95                    Cibecue       Cibecue    AZ     USA  34.00333333
3370  ZER  Schuylkill Cty/Joe Zerbey    Pottsville    PA     USA  40.70644889
3371  ZUN                 Black Rock          Zuni    NM     USA  35.08322694

               long  num_carriers  is_active
0      -95.01792778            96       True
1      -78.05208056            67       True
2      -88.20111111            48       True
3      -88.17786917            39       True
4      -92.22696056            51       True
...             ...           ...        ...
3367  -146.57942190            74       True
3368  -149.12014360             5       True
3369  -110.44416670             3       True
3370   -76.37314667            98       True
3371  -108.79177690            83       True

[3372 rows x 9 columns]

Cardinalidad de las variables categóricas en el DataFrame original:
iata: 3372 categorías únicas
airport: 3233 categorías únicas
city: 2672 categorías únicas
state: 56 categorías únicas
country: 5 categorías únicas

Análisis de normalidad para la columna 'num_carriers':
Prueba de Shapiro-Wilk: Estadístico=0.9564688446927009, p-valor=1.2614164683348012e-30
Prueba de Kolmogorov-Smirnov: Estadístico=0.059809650675222426, p-valor=6.293053221006932e-11
La columna 'num_carriers' no sigue una distribución normal (se rechaza la hipótesis de normalidad).

DataFrame después de aplicar One-Hot Encoding:
              lat           long  num_carriers  is_active  iata_00M  iata_00R  \
0     30.68586111   -95.01792778            96       True     False      True
1     42.74134667   -78.05208056            67       True     False     False
2     34.49166667   -88.20111111            48       True     False     False
3     43.08751000   -88.17786917            39       True     False     False
4     40.44725889   -92.22696056            51       True     False     False
...           ...            ...           ...        ...       ...       ...
3367  62.29368944  -146.57942190            74       True     False     False
3368  64.30120361  -149.12014360             5       True     False     False
3369  34.00333333  -110.44416670             3       True     False     False
3370  40.70644889   -76.37314667            98       True     False     False
3371  35.08322694  -108.79177690            83       True     False     False

      iata_00V  iata_01G  iata_01J  iata_01M  ...  state_VT  state_WA  \
0        False     False     False     False  ...     False     False
1        False      True     False     False  ...     False     False
2        False     False     False      True  ...     False     False
3        False     False     False     False  ...     False     False
4        False     False     False     False  ...     False     False
...        ...       ...       ...       ...  ...       ...       ...
3367     False     False     False     False  ...     False     False
3368     False     False     False     False  ...     False     False
3369     False     False     False     False  ...     False     False
3370     False     False     False     False  ...     False     False
3371     False     False     False     False  ...     False     False

      state_WI  state_WV  state_WY  country_Federated States of Micronesia  \
0        False     False     False                                   False
1        False     False     False                                   False
2        False     False     False                                   False
3         True     False     False                                   False
4        False     False     False                                   False
...        ...       ...       ...                                     ...
3367     False     False     False                                   False
3368     False     False     False                                   False
3369     False     False     False                                   False
3370     False     False     False                                   False
3371     False     False     False                                   False

      country_N Mariana Islands  country_Palau  country_Thailand  country_USA
0                         False          False             False         True
1                         False          False             False         True
2                         False          False             False         True
3                         False          False             False         True
4                         False          False             False         True
...                         ...            ...               ...          ...
3367                      False          False             False         True
3368                      False          False             False         True
3369                      False          False             False         True
3370                      False          False             False         True
3371                      False          False             False         True

[3372 rows x 9342 columns]

Número de columnas después de One-Hot Encoding: 9342

DataFrame después de aplicar Frequency Encoding:
              lat           long  num_carriers  is_active  iata_freq  \
0     30.68586111   -95.01792778            96       True   0.000297
1     42.74134667   -78.05208056            67       True   0.000297
2     34.49166667   -88.20111111            48       True   0.000297
3     43.08751000   -88.17786917            39       True   0.000297
4     40.44725889   -92.22696056            51       True   0.000297
...           ...            ...           ...        ...        ...
3367  62.29368944  -146.57942190            74       True   0.000297
3368  64.30120361  -149.12014360             5       True   0.000297
3369  34.00333333  -110.44416670             3       True   0.000297
3370  40.70644889   -76.37314667            98       True   0.000297
3371  35.08322694  -108.79177690            83       True   0.000297

      airport_freq  city_freq  state_freq  country_freq
0         0.000593   0.000890    0.061981      0.998814
1         0.000297   0.001483    0.028766      0.998814
2         0.000297   0.000297    0.021352      0.998814
3         0.000297   0.000297    0.024911      0.998814
4         0.000297   0.001186    0.021945      0.998814
...            ...        ...         ...           ...
3367      0.000297   0.000297    0.077995      0.998814
3368      0.000297   0.000297    0.077995      0.998814
3369      0.000297   0.000297    0.017200      0.998814
3370      0.000297   0.000297    0.021056      0.998814
3371      0.000297   0.000297    0.015125      0.998814

[3372 rows x 9 columns]

Número de columnas después de Frequency Encoding: 9

DataFrame con columna de target simulada:
     iata                    airport          city state country          lat  \
0     00R       Livingston Municipal    Livingston    TX     USA  30.68586111
1     01G               Perry-Warsaw         Perry    NY     USA  42.74134667
2     01M          Tishomingo County       Belmont    MS     USA  34.49166667
3     02C                    Capitol    Brookfield    WI     USA  43.08751000
4     03D           Memphis Memorial       Memphis    MO     USA  40.44725889
...   ...                        ...           ...   ...     ...          ...
3367  Z55                Lake Louise   Lake Louise    AK     USA  62.29368944
3368  Z84                      Clear  Clear A.F.B.    AK     USA  64.30120361
3369  Z95                    Cibecue       Cibecue    AZ     USA  34.00333333
3370  ZER  Schuylkill Cty/Joe Zerbey    Pottsville    PA     USA  40.70644889
3371  ZUN                 Black Rock          Zuni    NM     USA  35.08322694

               long  num_carriers  is_active  target_value
0      -95.01792778            96       True            44
1      -78.05208056            67       True            47
2      -88.20111111            48       True            64
3      -88.17786917            39       True            67
4      -92.22696056            51       True            67
...             ...           ...        ...           ...
3367  -146.57942190            74       True            28
3368  -149.12014360             5       True            85
3369  -110.44416670             3       True            11
3370   -76.37314667            98       True             3
3371  -108.79177690            83       True            18

[3372 rows x 10 columns]

DataFrame después de aplicar Target Encoding:
              lat           long  num_carriers  is_active  target_value  \
0     30.68586111   -95.01792778            96       True            44
1     42.74134667   -78.05208056            67       True            47
2     34.49166667   -88.20111111            48       True            64
3     43.08751000   -88.17786917            39       True            67
4     40.44725889   -92.22696056            51       True            67
...           ...            ...           ...        ...           ...
3367  62.29368944  -146.57942190            74       True            28
3368  64.30120361  -149.12014360             5       True            85
3369  34.00333333  -110.44416670             3       True            11
3370  40.70644889   -76.37314667            98       True             3
3371  35.08322694  -108.79177690            83       True            18

      iata_target  airport_target  city_target  state_target  country_target
0            44.0            70.0    66.333333     48.239234       49.094715
1            47.0            47.0    56.600000     50.721649       49.094715
2            64.0            64.0    64.000000     52.277778       49.094715
3            67.0            67.0    67.000000     50.750000       49.094715
4            67.0            67.0    45.750000     45.324324       49.094715
...           ...             ...          ...           ...             ...
3367         28.0            28.0    28.000000     51.836502       49.094715
3368         85.0            85.0    85.000000     51.836502       49.094715
3369         11.0            11.0    11.000000     50.500000       49.094715
3370          3.0             3.0     3.000000     50.197183       49.094715
3371         18.0            18.0    18.000000     53.921569       49.094715

[3372 rows x 10 columns]

Número de columnas después de Target Encoding: 10